<!DOCTYPE html>
<html>
<head>
  <title>Ramen Bowl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ramenBowl" ng-controller="MainCtrl">
  <div>
    {{test}}
  </div>
</body>
</html>
